*,html {
    margin: 0;
    padding: 0;
    transition: all 0.5s;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li {
    list-style: none;
}

.container {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 220px;
    height: 80px;
}

ul {
    display: flex;
    gap: 20px;
}

.links {
    text-decoration: none;
    font-weight: 650;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.links:hover {
    color: rgb(19, 150, 150);
}

main {
    width: 100%;
    background-color:  rgb(24, 206, 206);
}

.wrapper1 {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.wrapper {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color:  transparent;
    border: 3px solid black;
    color: black;
    font-weight: bold;
}

.btn1:hover {
    background-color: black;
    color: white;
    transition: all 0.5s;
}

.btn2 {
    border: 3px solid white;
    color: white;
}

.btn2:hover {
    background-color: white;
    color: black;
    transition: all 0.5s;
}

.link-wrapper {
    display: flex;
}

.link2 {
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

/* SECTION1 */

.section1 {
    width: 100%;
    /* height: 10vh; */
    display: flex;
    justify-content: center;    
    position: relative;
}


.left-hero {
    display: flex;
    align-items: center;
}

.heading1 {
    font-size: 40px;
    color: #133844;
}

.spn1 {
    font-weight: lighter;
    margin-bottom: 10px;
    text-underline-offset: 5px;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

.spn1:hover {
    text-decoration: none;
    
}

.img-wrapper {
    width:80%;
    height: 400px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.img2 {
    width: 70%;
}

.img3 {
    width: 80%;
}

.btnjon {
    background-color: rgb(128, 222, 219);
    border-radius: 50px;
    height: 30px;
    width: 30px;
    border: none;
}

.btnjon:hover {
    background-color:rgb(47, 151, 147) ;
}


#hero1 {
    height: 500px;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    background-color: rgb(24, 206, 206);
}

#hero2, #hero3 {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
}
#hero2 {
    z-index: 2;
    background-color: rgb(24, 206, 206);
}

#hero3 {
    z-index: 1;
    background-color: rgb(19, 55, 67);
}

.leftjon {
    width: 80%;
    display: flex;
    justify-content: center;
}

.left h2 {
    color: white;
}

.left {
    z-index:-1;
}

.right {
    background-color: rgb(24, 206, 206);
    border-top-left-radius: 70%;
    height: 100%;
}

.circle {
    position: absolute;
    top: 150px;
    left: 100px;
    height: 300px;
    width:300px;
    background-color: black;
    /* background-color: rgb(24, 206, 206); */
    border-radius: 50%;
}


.left-hero {
    width: 40%;
    display: flex;
    justify-content: center;
}

.right-hero {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-wrapper {
    z-index: 999;
    position: absolute;
    top: 465px;
    left: 700px;
    display: flex;  
    gap: 10px;  
}


/* SECTION2 */

.section2 {
    color: #333333;
    display: flex;
    justify-content: center;

}

.container2 {
    display: flex;
    flex-direction: column;
    padding-top: 600px;
    height: auto;
    max-width: 1300px;

}

.heading2 {
    text-align: center;
    font-size: 40px;
}

.cards-wrapper {
    padding-top: 50px;
    display: flex;
    gap: 30px;
}

.cards-wrapper a {
    text-decoration: none;
    color: unset;
}

.card:hover {
    opacity: 0.7;
}


.card {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.headingCard {
    font-size: 27px;
}

.card hr {
    border: none;
    height: 5px;
    background-color: rgb(0, 76, 118);
}

.two hr {
    background-color: rgb(200, 31, 102);
}

.three hr {
    background-color:rgb(239, 167, 0);
}


.text1 {
    line-height: 1.5;
    font-size: 20px;
    font-weight: normal;
}

.btn3 {
    align-self: center;
    text-align: center;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: transparent;
    background-color: #333333;
    font-size: 20px;
    color: white;

}

/* SECTION3 */

.section3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.left-card {
    width: 44%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.right-card {
    width: 30%;
}

.btn4 {
    align-self: unset;
}

.second {
    display: flex;
    flex-direction: row-reverse;
}

.second .left-card {
    width: 60%;
}

.second .right-card {
    width: 60%;
}

.logojon {
    width: 200px;
    height: 50px;
}

/* SECTION4 */

.section4 {
    background-color: #F2F1F0;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.section4 h2 {
    padding-top: 50px;
}

.img-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.img-wrapper a {
    text-decoration: none;
}

.img-wrapper a:hover {
    opacity: 0.6;
}


.img1-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 300px;
    width: 200px;
}

.img1 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 10px solid rgb(0, 164, 161);
    margin-top: 40px;
}

.img2 {
    border: 10px solid  rgb(242, 169, 0);
}

.img3 {
    border: 10px solid rgb(0, 76, 118);
}

.img1:hover {
    border: unset;
    transition: ease-in-out 0.2s;
}

.heading5 {
    text-decoration: none;
    font-size: 20px;
    color: #333333;
}

/* SECTION5 */

.section5 {
    display: flex;
    justify-content: center;
}

.container1 {
    width: 100%;
    max-width: 1300px;
    display: flex;
}

.heading {
    font-size:35px;
}

.text-hero {
    width: 58%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 100px;
    height: 400px;
}

.img-hero {
    width: 40%;
    display: flex;
    align-items: center;
}

.text-hero button {
    font-size: 20px;
    width: 200px;
    align-self: unset;
}

/* SECTION6  */
.section6 {
    background-color: #F2F1F0;   
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.imgs-wrappers {
    display: flex;
    gap: 20px;
}

.logos-wrapper {
    display: flex;
    gap: 10px;
    width: 200px;
}

.img-logo {
    border-radius: 5px;
    width: 40px;
    height: 40px;
}

.img-logo:hover {
    opacity: 0.5;
    width: 35px;
    height: 35px;
}

/* FOOTER */
footer {
    background-color: rgb(0, 9, 46);
}

.footer-wrapper {
    padding-top: 100px;
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-self: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.footer-links {
    display: flex;
    gap: 150px;
}

.first-link {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-decoration: unset;
}

.capital {
    color: white;
}

.links3 a {
    text-decoration: unset;
    gap:10px;
    color: rgb(134, 148, 181);
    line-height: unset;
}

.links3 a:hover {
    text-decoration: underline;
}


footer ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    width: 300px;
    height: 38px;
    border-radius: 5px;
    border: 2px solid green;
}

.btn5 {
    background-color: rgb(211, 112, 61);
}

.textF {
    color: white;
}

.right-footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.right-footer .logos-wrapper img {
    width: 30px;
    height: 30px;
}

.footer-bottom {
    width: 100%;
    padding-top: 50px;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.heading1 {
    color: white;
}


/* HAMBURGER */

/* off-screen-menu */
.off-screen-menu {
    background-color:  rgb(34, 37, 49);
    width: 80%;
    height: 200px;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 20px;
    transition: .3s ease;
}
.off-screen-menu.active {
    right: 0;
}

.hamburger {
    display: none;
}

.nav-bar {
    padding: 1rem;
    display: flex;
}

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
}



/* ham menu */
.ham-menu {
    height: 50px;
    width: 40px;
    margin-left: auto;
    position: relative;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: rgb(255, 116, 52);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-100%, -500%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.ham-menu-ul li > a {
    color: rgb(24, 206, 206);
    text-transform: capitalize;
    text-decoration: none;

}

.linkjons:hover {
    opacity: 0.6;
}


@media (max-width:568px) {
    .hamburger {
        display: block;
    }

    nav, .header-wrapper {
        display: none; 
    }
    .link-wrapper ul {
        flex-wrap: wrap;
    }
    .section1 .heroes {
        flex-direction: column;
        align-items: center;
    }
    .heading1 {
        font-size: 20px;
        padding-top: 30px;
    }
    .left {
        width: 100%;
    }
    .right-hero {
        height: 50%;
        width: 100%;
    }
    .img-wrapper {
        border-radius: 0;
        height: 200px;
        width: 70%;
    }
    .btn1 {
        margin-bottom: 10px;
    }
    .wrapper1 {
        height: 200px;
    }
    .button-wrapper {
        left: 160px;
    }

    .section3 {
        height: auto;
        display: flex;
        flex-direction: column;
    }
    .cards-wrapper, .cards {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .second, .second .left-card {
        width: 100%;
    }
    .right-card, .left-card {
        width:100% ;
        display: flex;
        justify-content: center;
    }
    .left-card button {
        align-self: center;
        }
    .right-card img {
        width: 100%;;
        height: 300px;
        left: 0;
    }
    .text1 {
        width: 100%;
    }
    .container1 {
        flex-direction: column;
    }

    .img-hero,.img-hero img {
        width: 100%;
    }

    .imgs-wrappers {
        flex-direction: column;
    }
    .footer-wrapper {
        flex-direction: column;
    }
    .footer-links {
        gap: 30px;
        padding-bottom: 40px;
    }
    input {
        margin-bottom: 30px;
    }
    .footer-bottom {
        flex-direction: column;
        gap: 10px;
    }
    .section4 {
        height: 130vh;
    }
    .section4 .text1 {
        padding-bottom: 300px;
    }
    .img-wrapper {
        flex-direction: column;
        gap: 10px;
    }
    .imgs {
        width: 100%;
    }
    .section5 .text-hero {
        width: 400px;
    }
    .container1 {
        display: flex;
        justify-content: center;
    }

}